@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #0a3871;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #E5E5E5;
    line-height: 125%;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 20px;
    width: 8%;
}

.titulo {
    font-size: 32px;
    margin: 20px 45px 20px 45px;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.area-input {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    border: none;
    resize: none;
    border-radius: 24px;
}

.mensaje {
    margin-bottom: 10px;
}

.txt-ingresado {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.txt-ingresado:focus {
    outline: none;
}

.area-botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.btn-encriptar {
    width: 15%;
    padding: 10px;
    background-color: #0a3871;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}

.btn-encriptar:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.btn-desencriptar {
    width: 15%;
    padding: 10px;
    background-color: #d7d9f6;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}

.btn-desencriptar:hover {
    transform: scale(1.05);
    background-color: #f1f1f1;
    transition: transform 0.2s;
}

.area-resultado {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.txt-resultado {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 18px;
    outline: none;
    background-color: white;
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.area-btn-copiar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-copiar {
    width: 50%;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-copiar:hover {
    background-color: #d7d9f6;
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
}

.creditos {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.creditos a {
    font-size: 16px;
    color: #0a3871;
    text-decoration: none;
}

.creditos a:hover {
    text-decoration: underline;
}